<div class="table-responsive">
  <table class="table table-bordered" style="width: max-content;">
    <thead>
    <tr>
      <th style="text-align: left;"><span
        class="ant-table-header-column">
                    <div><span class="ant-table-column-title">Balans hesabatı tarixi</span><span
                      class="ant-table-column-sorter"></span></div>
                </span></th>
      <th class="ant-table-align-center ant-table-row-cell-break-word ant-table-row-cell-last"
          style="text-align: center;"><span class="ant-table-header-column">
                    <div><span class="ant-table-column-title">20-02-2022</span><span
                      class="ant-table-column-sorter"></span></div>
                </span></th>
    </tr>
    </thead>
    <tbody class="ant-table-tbody">
    <tr data-row-key="0">
      <td style="text-align: left;">AKTİVLƏR</td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="1">
      <td style="text-align: left;">Qısamüddətli aktivlər, AZN</td>
      <td style="text-align: center;">420,081,438.0636</td>
    </tr>
    <tr data-row-key="2">
      <td style="text-align: left;">Nağd vəsait, AZN</td>
      <td style="text-align: center;">4,787,347.087</td>
    </tr>
    <tr data-row-key="3">
      <td style="text-align: left;">Debitor borclar, AZN</td>
      <td style="text-align: center;">540,284.3694</td>
    </tr>
    <tr data-row-key="4">
      <td style="text-align: left;">Mal material, AZN</td>
      <td style="text-align: center;">368,071.6072</td>
    </tr>
    <tr data-row-key="5">
      <td style="text-align: left;">Qiymətli kağızlar, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">410,679,300.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="6">
      <td style="text-align: left;">Öncədən ödənilmiş xərclər, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">189,790.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="7">
      <td style="text-align: left;">Digər cari aktivlər, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">3,516,645.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="8">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="9">
      <td style="text-align: left;">Uzunmüddətli aktivlər, AZN</td>
      <td style="text-align: center;">421,761,487.00</td>
    </tr>
    <tr data-row-key="10">
      <td style="text-align: left;">Torpaq, tikili, avadanlıqlar, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">753,488.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="11">
      <td style="text-align: left;">Qeyri maddi aktivlər, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">35,712,633.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="12">
      <td style="text-align: left;">Uzunmüddətli alacaqlar, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">3,992,987.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="13">
      <td style="text-align: left;">Digər uzunmüddətli aktvilər, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">381,302,379.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="14">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="15">
      <td style="text-align: left;">CƏMİ AKTİVLƏR, AZN</td>
      <td style="text-align: center;">841,842,925.0636</td>
    </tr>
    <tr data-row-key="16">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="17">
      <td style="text-align: left;">ÖHDƏLİKLƏR VƏ KAPİTAL</td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="18">
      <td style="text-align: left;">Qısamüddətli öhtəliklər, AZN</td>
      <td style="text-align: center;">503,313.00</td>
    </tr>
    <tr data-row-key="19">
      <td style="text-align: left;">Kreditor borclar, AZN</td>
      <td style="text-align: center;">503,313.00</td>
    </tr>
    <tr data-row-key="20">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="21">
      <td style="text-align: left;">Uzunmüddətli öhdəliklər, AZN</td>
      <td style="text-align: center;">19,800.00</td>
    </tr>
    <tr data-row-key="22">
      <td style="text-align: left;">Bank kreditləri, AZN</td>
      <td style="text-align: center;">
        <div class="styles_detailbtn__1zIvn"><span class="styles_rowNumbers__3FwBQ">19,800.00</span>
          <button
            type="button" class="ant-btn styles_detailButton__2lroG ant-btn-icon-only"><i
            aria-label="icon: eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896"
                 focusable="false" class="" data-icon="eye" width="1em" height="1em" fill="currentColor"
                 aria-hidden="true">
              <path
                d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
              </path>
            </svg>
          </i></button>
        </div>
      </td>
    </tr>
    <tr data-row-key="23">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="24">
      <td style="text-align: left;">Kapital, AZN</td>
      <td style="text-align: center;">5,206,423.6485</td>
    </tr>
    <tr data-row-key="25">
      <td style="text-align: left;">Nizamnamə kapitalı, AZN</td>
      <td style="text-align: center;">4,694,581.00</td>
    </tr>
    <tr data-row-key="26">
      <td style="text-align: left;">Bölüşdürülməmiş mənfəət, AZN</td>
      <td style="text-align: center;">511,842.6485</td>
    </tr>
    <tr data-row-key="27">
      <td style="text-align: left;"></td>
      <td style="text-align: center;"></td>
    </tr>
    <tr data-row-key="28">
      <td style="text-align: left;">CƏMİ ÖHDƏLİKLƏR VƏ KAPİTAL, AZN</td>
      <td style="text-align: center;">5,729,536.6485</td>
    </tr>
    </tbody>
  </table>
</div>
