table {
    thead {
    }
    tbody {
        .main {
            &:hover {
                background-color: rgb(82, 82, 221);
                color: white;
                cursor: pointer;
            }
        }
        .sub {
        }
        input {
            cursor: pointer;
        }
    }
}
