
.pricings {
    .pricing {
        width: 100%;
        .pricing-detail {
            display: flex;
            li.green {
                border: 1px solid #08a53ca1;
                box-shadow: 0 1px 5px #08a53ca1;
            }
            li {
                min-width: 100px;
                border-radius: 6px;
                margin-top: 5px;
                padding: 7px;
                border: 1px solid #46b3bf;
                box-shadow: 0 1px 5px #00000032;
                text-align: center;
                margin-right: 10px;

             
                &.pricing-student {
                    width: 200px;
                    text-align: left;
                    input {
                        background: transparent;
                        width: 100%;
                    }
                }
                &.pricing-subject {
                    width: 100px;
                }
                &.modify {
                    width: 100px;
                    cursor: pointer;

                    &:hover {
                        background-color: #46b3bf8c;
                        i {
                            color: #fff !important;
                            font-weight: bold;
                        }
                    }
                    i.confirm {
                        color: rgb(11, 202, 11);
                    }
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
        &.def {
            .pricing-detail {
                li {
                    background-color: #46b3bf8c;
                    font-weight: bold;
                }
            }
        }
    }
}
