<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Şöbələr</h4>
                <p class="card-title-desc">Təşkilatda fəaliyyət göstərən şöbələr
                </p>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <form class="" [formGroup]="form" (ngSubmit)="add()">
                                <div class="">
                                    <label>Adı</label>
                                    <input formControlName="info" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.info.errors }">
                                    <div *ngIf="submitted && f.info.errors" class="invalid-feedback">
                                        <div *ngIf="f.info.errors.required">
                                            Info is required+
                                        </div>
                                        <div *ngIf="f.info.errors.min">
                                            Info must be at least 1 characters
                                        </div>
                                        <div *ngIf="f.info.errors.max">
                                            Info must not exceed 200 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button (click)="update()" type="button" class="btn btn-primary me-3">
                                        <i class="bx bx-edit-alt"></i>
                                        Dəyiş
                                    </button>
                                    <button class="btn btn-success me-3">
                                        <i class="bx bx-plus-medical"></i>
                                        Əlavə et
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 ms-lg-auto">
                        <div class="mt-4 mt-lg-0">
                            <div class="table-responsive">
                              <input type="search" class="form-control" placeholder="Şöbə axtar"
                              [(ngModel)]="department">
                                <table class="table table-bordered mt-2">
                                    <thead>
                                        <tr>
                                            <th>Adı</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let department of data | search:'info': department">
                                            <tr>
                                                <td>
                                                    <span class="pr-6 whitespace-nowrap">
                                                        {{department.info}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <button (click)="delete(department)" class="btn btn-danger btn-rounded">
                                                        <i class="bx bx-trash-alt"></i>
                                                    </button>

                                                    <button (click)="selectDepartment(department)" class="btn btn-primary btn-rounded ms-2">
                                                        <i class="bx bx-edit-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
